<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <style>
      img {
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container">
      <img class="mx-auto d-block" src="images/head.png"/>
      <img class="mx-auto d-block" src="images/about.png"/>
      <img class="mx-auto d-block" src="images/menu.png"/>
    </div>
  </body>
</html>
