<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head') %>
  <style>
    img {
      position: absolute;
      top: 52px;
      left: 0;
      right: 0;
      bottom: 0;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <%- include('../partials/nav') %>
  <div class="homepage-wrapper">
    <img src="images/mainPage.jpg"/>
  </div>
</body>

</html>
